# Archivos de Intellij
.idea

# Directorio de despliegue de la aplicación
App

# Modulos de node, se instalan con npm install
node_modules

# Dependencias del proyecto de jspm, se descargan con jspm install
src/jspm_packages
